body{
    color: #444;
    background-color: #EEE;
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6em;
    font-size: 18px;
    padding: 5px;
}

img {
  width: 10%;
  height: auto;
}

@media (max-width: 767px) {
    body {
        padding: 40px;
    }
}
